---
title: It Lives!
---

<h1>{{ file.title }}</h1>

<p>If you are seeing this file then your new henshin site is ready to edit!
Below are some helpful files that will help you get started creating and
publishing your first site built with henshin. Also you can obviously read
through the files that were dumped in this directory to gain an understanding
of the basics.</p>

<h2>First Test</h2>

<p>Edit <code>index.liquid</code> in some way and rebuild the site using 
<code>henshin [whatever]</code> to see some changes.</p>


<ul class="list">
  {% for page in pages %}
    <li>
      <a href="{{ page.url }}">
        {{ page.title }} 
        <span>{{ page.description }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
