---
title: Your New Site
---

<h1>Henshin is working</h1>

<p>That's good.</p>

<p>Keep the server running, open <code>index.liquid</code>, edit it and save. Then reload the page to see your changes. If that worked you're good to go. For more help go to the <a href="http://hawx.github.com/henshin">help</a>.</p>

<!--
<h4>Pages</h4>
<ul class="list">
  {% for page in pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
-->
