<!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8" />  
    <title>{{ gen.title }}</title>  
    {% include head.html %} 
  </head>  
  <body>
  
  {{ yield }}

  </body>  
</html> 