@import includes/reset.css

body
  width: 500px
  margin: 20px
  background: rgb(245, 245, 245)
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
  font: 
    family: Helvetica, Arial, sans-serif
    size: 16px
  