body
  width: 600px
  padding: 50px
  font: 14px Helvetica, Arial, sans-serif
  
a[href="/"]
  position: absolute
  top: 10px
  
a
  text-decoration: none
  
.list
  list-style: none
  padding: 0
  
  li
    border-bottom: 1px solid #ccc
    padding: 10px
    
    &:first-child
      border-top: 1px solid #ccc
  
  time
    padding-left: 10px
    color: #444
  
  
h1, h2, h3, h4 h5, h6
  font-weight: normal
  
header
  h2
    color: #666
    font-size: 1em
    display: inline
      
  .tags
    list-style: none
    display: inline
    padding: 0 0 0 5px
    
    li
      display: inline
      
      a
        background: #ccc
        color: white
        -webkit-border-radius: 3px
        padding: 2px 7px
        
        &:hover
          background: #ddcccc
  
nav
  a
    padding-right: 1em
    
  
    
@import css/syntax