<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ file.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  </head>
  <body>
  
    {{ yield }}
    
    <footer>
      <p>Site built at {{ site.created_at | date: "%H:%M on %b %d %Y" }}</p>
    </footer>
  </body>
</html>
