<!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8" />  
    <title>{{ post.title }}</title>  
    <link rel="stylesheet" href="" type="text/css" />  
  </head>  
  <body>
  
  <nav>
    <a href="/">Home</a>
    {% if post.next %}<a href="{{ post.next.url }}">{{ post.next.title }}</a>{% endif %}
    {% if post.prev %}<a href="{{ post.prev.url }}">{{ post.prev.title }}</a>{% endif %}
  </nav>
  
  <header>
    <h1>{{ post.title }}</h1>
    <time>{{ post.date | date_to_string }}</time>
    
    <ul>
      {% for tag in post.tags %}
        <li><a href="{{ tag.url }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    
  </header>
  
  {{ yield }}
  
  <span>Copyright &copy; {{ post.author }}</span>
  </body>  
</html> 